.cabecalho {
    
    /* justify-content: center; */
    text-align: center;
    padding: 96px 0px;

}
.cabecalho__pagina {
    color: var(--bordo);
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 16px;
    height: 24px;
    margin-bottom: 50px;
    padding: 24px;
}

.cabecalho__titulo {
    font-family: var(--fonte-principal);
    font-size: 46px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
    height: 60px;
    padding: 0 32px;
    color: var(--preto);
}

.cabecalho__texto {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 20px;
    color: var(--cinza-principal);
}

