.metricas-container {
    display: flex;
    justify-content: space-around;
    font-family: var(--fonte-principal);
    padding: 0 10em 15em 10em;
    /* width: 1280px; */
    /* text-align: center; */
    /* margin-left: 80px; */
}

.metrica-container_numero {
   color: var(--bordo); 
   
   font-weight: 600;
   font-size: 60px;
   /* padding: 2em 0em 1em 0; */
   margin-bottom: 12px;
}



.metrica-item-titulo {
   
    color: var(--preto);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
}

.metrica-item-texto {
    font-size: 16px;
    color: var(--cinza-principal);
    font-weight: 400;
}


